<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.xuebiao.dao.IProductMapper">
	<select id="getProducts" resultType="top.xuebiao.vo.Product">
		select
		*
		from product_tbl
	</select>
	<select id="getProduct" resultType="top.xuebiao.vo.Product">
		select
		*
		from product_tbl where
		id = #{product.id}
	</select>
	<insert id="addProduct" useGeneratedKeys="true"
		keyProperty="product.id" parameterType="top.xuebiao.vo.Product">
		insert into product_tbl(name,
		spec, weight, remark)
		VALUES(#{product.name}, #{product.spec},
		#{product.weight},
		#{product.remark} )
	</insert>
	<update id="updateProduct" keyProperty="product.id"
		parameterType="top.xuebiao.vo.Product">
		update product_tbl set
		name = #{product.name},
		spec =
		#{product.spec},
		weight = #{product.weight},
		remark = #{product.remark}
		where id = #{product.id}
	</update>
	<delete id="deleteProduct"
		parameterType="top.xuebiao.vo.Product">
		delete from product_tbl where id = #{product.id}
	</delete>
</mapper>