<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.xuebiao.dao.IStoreMapper">
	<select id="getStores" resultType="top.xuebiao.vo.Store">
		select
		store_tbl.id,store_tbl.product_id as
		'productID',store_tbl.total,store_tbl.remark,store_tbl.update_date as
		'updateDate',
		product_tbl.name as 'productName',product_tbl.spec as
		'productSpec' from
		store_tbl,product_tbl where
		product_tbl.id=store_tbl.product_id order by product_tbl.id
	</select>
</mapper>