<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.xuebiao.dao.IStoreMapper">
	<select id="getStores" resultType="top.xuebiao.vo.Store">
		select
		store_tbl.id,store_tbl.product_id as 'productID',store_tbl.total,store_tbl.remark,store_tbl.update_date as 'updateDate',
		 product_tbl.name as 'productName',product_tbl.spec as 'productSpec' 
		 from 
		 store_tbl,product_tbl where
		product_tbl.id=store_tbl.product_id order by product_tbl.id
	</select>

	<select id="getStore" resultType="top.xuebiao.vo.Store">
		 select
		 store_tbl.id,store_tbl.product_id as 'productID',store_tbl.total,store_tbl.remark,store_tbl.update_date as 'updateDate',
		 product_tbl.name as 'productName',product_tbl.spec as 'productSpec' 
		 from
		 store_tbl left JOIN product_tbl on
		 product_tbl.id=store_tbl.product_id where store_tbl.product_id=#{store.productID} order by product_tbl.id 
	</select>


	<insert id="addStore" useGeneratedKeys="true"
		keyProperty="store.id" parameterType="top.xuebiao.vo.Store">
		insert into store_tbl(product_id,
		total, remark)
		VALUES(#{store.productID}, #{store.total},
		#{store.remark} )
	</insert>

	<update id="updateStore" keyProperty="store.id"
		parameterType="top.xuebiao.vo.Store">
		update store_tbl set total = #{store.total}, remark
		=#{store.remark}
	</update>


	<insert id="addStoreRecord" useGeneratedKeys="true"
		keyProperty="storeRecord.id"
		parameterType="top.xuebiao.vo.StoreRecord">
		INSERT INTO store_record_tbl(product_id, user_id,
		instructions, quantity, price, remark)
		VALUES(#{storeRecord.productID},#{storeRecord.userID},#{storeRecord.instructions},#{storeRecord.quantity},#{storeRecord.price},#{storeRecord.remark})
	</insert>
	
	<select id="getStoreRecords" resultType="top.xuebiao.vo.StoreRecord">
		SELECT 
		s.id,s.product_id as 'productID',
		s.user_id as 'userID',s.instructions,
		s.quantity,s.price ,s.remark,
		s.update_date as 'updateDate', p.name as 'productName',
		p.spec as 'productSpec' 
		from store_record_tbl as s left JOIN product_tbl as p on s.product_id=p.id   order by s.update_date desc
	</select>
	
	<select id="getSingleProductStoreRecords" resultType="top.xuebiao.vo.StoreRecord">
		SELECT 
		s.id,s.product_id as 'productID',
		s.user_id as 'userID',s.instructions,
		s.quantity,s.price ,s.remark,
		s.update_date as 'updateDate', p.name as 'productName',
		p.spec as 'productSpec' 
		from store_record_tbl as s left JOIN product_tbl as p on s.product_id=p.id WHERE s.product_id=#{storeRecord.productID}  order by s.update_date desc
	</select>
</mapper>